.jumbotron{
    background-color: #eb7c7c;
    
}

.fiveDay-forecast{
    margin: 20px;
    display: inline-block;
}

#search-form{
    padding-bottom: 12px;
}
#find-city{
    margin-top: 5px;
    border-radius: 8px;
    padding: 7px;
    background-color: #1d2124;
    color: white;
}

.fiveDays{
    background-color: rgb(55, 55, 214);
    margin: 5px;
    width: 17%;
    color: white;
}
.searchBackGround{
    padding: 1px;

}

.fiveDayRow{
    padding-bottom: 25px;
}