.jumbotron{
    background-color: #7ca3eb;
    
}

.fiveDay-forecast{
    margin: 20px;
    display: inline-block;
}

#wordFiveDayForecast{
    padding-top: 8px;
}

#search-form{
    padding-bottom: 12px;
}
#find-city{
    margin-top: 5px;
    border-radius: 8px;
    padding: 7px;
    background-color: #1d2124;
    color: white;
}

.fiveDays{
    background-color: rgb(55, 55, 214);
    margin: 5px;
    width: 173px;
    color: white;
    
}
.searchBackGround{
    padding: 1px;

}

.fiveDayRow{
    padding-bottom: 25px;
}

#tempToday{
    position: relative;
}

#search-input{
    width: 100%;
}

.card d-inline-block fiveDays

